<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<title>이메일 회원가입</title>
<head>
    <%- partial('../common/header_mobile.ejs') %>
    <script type="text/javascript" src="<%=CMS.cdn%>/html/fo/js/user.js"></script>
    <SCRIPT LANGUAGE="JavaScript">
        <!--


        function formSubmit(){
            //return document.mainForm.submit();
            if (!$("#mainForm").validate()) {
                return false;
            } else {
                $("#mainForm").submit();
            }
        }

        //-->
    </SCRIPT>

    <style type="text/css">
        .error_input::-webkit-input-placeholder {
            color: #EA0000
        }
    </style>

</head>
<body>
<!-- content -->


<div id="wrap">
    <form method="POST" action="/srv/<%=objname%>/regist" name = "mainForm"  id="mainForm">
    <input type = "hidden" name = "auth" id = "auth" value = "E" />
    <div id="subConts">
        <div class="sub_logo"><img src="<%=CMS.cdn%>/html/fo/img/logo.png" alt="TouchCash 로고" style = "width:100px;" /></div>

        <div class="join_box">
            <ul>
                <li><input id="email" type="text" name="email" placeholder = "이메일을 입력하세요."></li>
                <li><input id="passwd" type="password" name="passwd" placeholder = "비밀번호를 입력하세요."></li>
                <li><input id="passwd_chk" type="password" name="passwd_chk" placeholder = "비밀번호를 재입력하세요."></li>
            </ul>
        </div>
        <div class="gap10"></div>


        <div class="sns" id = "btn_email_submit">
            <div class="email_regist"><a href="javascript:emailLogin($('#email').val(), $('#passwd').val());" id="email_regist">가입합니다.</a></div>
        </div>

    </div>
    <input id="phonenb" type="hidden" name="phonenb">
    <input id="gcmtoken" type="hidden" name="gcmtoken">
    </form>
</div><!-- (e) #wrap -->

<!-- content //-->
</body>
</html>