<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<title>주문 리스트</title>
<head>
    <%- partial('../common/header_mobile.ejs') %>

</head>
<body>
<div id="wrap">

    <div class = "order_item">
        <!-- 주문 내역 -->
        <div class = "pad10lr">
            <div class = "order_header">
                <div class = "order_header_phone">***-****-9999<span class = "order_header_time">1분전</span></div>
            </div>
        </div>

        <!-- 주문 내용 -->
        <div class = "order_content_box">
            <div class = "order_content">
            <span class = "order_content_text">짜장면 1개<br>
            짬봉 1개 <br>
            카드결제<br>
            우아미가구 왼쪽출입구. <br><br>고추가루 가져다주세요.우아미가구 왼쪽출입구.</span>
            </div>
        </div>

        <!-- 주문 상태 버튼 -->
        <div class = "pad10l pad10r mg10t">
            <div class = "order_btn">
                <div class = "order_btn_text">확인</div>
            </div>
        </div>
    </div>

    <div class = "dash"></div>

    <div class = "order_item">
        <!-- 주문 내역 -->
        <div class = "pad10lr">
            <div class = "order_header">
                <div class = "order_header_phone">***-****-9999<span class = "order_header_time">1분전</span></div>
            </div>
        </div>

        <!-- 주문 내용 -->
        <div class = "order_content_box">
            <div class = "order_content">
            <span class = "order_content_text">짜장면 1개<br>
            짬봉 1개 <br>
            카드결제<br>
            우아미가구 왼쪽출입구. <br><br>고추가루 가져다주세요.우아미가구 왼쪽출입구.</span>
            </div>
        </div>

        <!-- 주문 상태 버튼 -->
        <div class = "pad10l pad10r mg10t">
            <div class = "order_btn_due">
                <div  class = "order_btn_text">30분 뒤 배달 예정</div>
            </div>
        </div>
    </div>

    <div class = "dash"></div>
</div><!-- (e) #wrap -->
</body>
</html>