<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<title>발신내역</title>
<head>
    <%- partial('../common/header_mobile.ejs') %>
    <script language="javascript">

        $(function() {


        });

        function view(idx) {
            window.location.href = '/srv/sellmsglog/mobile/select/'+idx;
        }

    </script>
</head>
<body>
<div id="wrap">

    <%

    if(data.length == 0)
    {
    %>
    <div class="pointList">
        발신 내역이 없습니다.
    </div>
    <%
    }else
    {
        for(var i = 0 ; i < data.length ; i++)
        {
            var obj = data[i];
            var idx = obj.idx;
            var phonenb = obj.phonenb;
            var regdate = moment(obj.regdate).format('YYYY-MM-DD HH:mm');

    %>
    <div class="pointList" onclick = "view('<%=idx%>')">
        <ul>
            <li class="pointList_ttl"><%=phonenb%><span class="more_off"></span></li>
            <li><span></span></li>
        </ul>
        <div class="pointList_regdate"><%=regdate%></div>
    </div>
    <%
    }
    }
    %>
</div><!-- (e) #wrap -->
</body>
</html>


