<%
for(var i = 0 ; i < data.length ; i++)
{
    var obj = data[i];
    var idx = obj.idx;
    var phonenb = obj.phonenb;
    var regdate = moment(obj.regdate).format('YYYY-MM-DD HH:mm');

%>
<div class="pointList" onclick = "view('<%=idx%>')">
    <ul>
        <li class="pointList_ttl"><%=phonenb%><span class="more_off"></span></li>
        <li><span></span></li>
    </ul>
    <div class="pointList_regdate"><%=regdate%></div>
</div>
<%
}
%>