<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<title>발신 상세</title>
<head>
    <%- partial('../common/header_mobile.ejs') %>


</head>
<body>

<div id="wrap" role="form">

    <div id="subConts">

        <!-- 주문 내용 -->
        <div class = "order_content_box">
            <div class = "order_content">
            <span class = "order_content_text">
                <%=data.content%>
                <br><br>
            </span>
            </div>
        </div>

        <div class = "gap20"></div>

        <div style="text-align: center;"><%=moment(data.regdate).format('YYYY-MM-DD HH:mm')%></div>

    </div>
</div><!-- (e) #wrap -->

</body>
</html>