<!DOCTYPE html>
<html>
<head>
    <%- partial('../common/header_mobile.ejs') %>


</head>
<body>
<div class="wrap">
    <header class="error">
        <p>
            <span>code : <%= error.code %>    description : <%=error.description%></span>
        </p>
    </header>
</div>
</body>
</html>